/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: auto;
    background-image: url("https://tau.fra1.cdn.digitaloceanspaces.com/candyuniverse/2860/conversions/slider-desktop-8027616929a31d0d84dd82c09abf8bfe-desktop-xl-x1-webp.webp");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 150%;
    background-color: rgba(255, 245, 233, 0.927);
    background-blend-mode: lighten;
    color: #333;
}

.logo {
    align-self: center;
    float: right;
}

.img-logo {
    width: 120px;
    height: 100px;
    align-self: center;
    float: right;
}

#naslov {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    color: #e72bce;
}

#nazivProdavnice {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 145px;
    text-align: center;
    font-size: 80px;
    color: #e72bce;
}

.tekst {
    color: #e72bce;
    text-align: center;
    align-items: center;
    align-content: center;
    text-transform: uppercase;
    font-size: smaller;
    margin-top: auto;
    margin-left: 100px;
}

.heder {
    overflow: auto;
    background-color: #ee85e0;
}

.heder a {
    float: left;
    color: #000000;
    text-align: left;
    padding: 35px 14px 50px; /*11 i 14 je bilo bez logoa*/
    text-decoration: none;
    font-size: 17px;
}

.heder a:hover {
    background-color: #ff4dff;
    color: white;
}

.heder a.active {
    background-color: #ff4dff;
    color: white;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #ee85e0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Stilizacija za stavke dropdown menija */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ff4dff;
    color: rgb(255, 255, 255);
}

.page-content {
    margin-left: 100px;
    margin-right: 100px;
    font-size: smaller;
    text-align: center;
    margin-top: -50px;
}

.datum {
    margin-right: 0;
    margin-top: 80px;
    text-align: right;
    align-items: right;
    align-content: right;
}

.slideshow-container {
    max-width: 450px;
    position: relative;
    margin: auto;
    margin-bottom: 100px;
    margin-top: -10px;
}

.slide {
    display: none;
}

.slideshow-container img {
    max-width: 100%;
    height: auto;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-left: 0px;
    margin-top: -100px;
}

footer {
    display: none;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffcbff;
    margin: 0;
    padding: 0;
    width: 100%;
}

body:not(.home) footer {
    display: inline-block;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    position: relative;
}

ul.lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 12px;
    font-size: smaller;
    text-align: right;
}

.lokacijaObjekata {
    margin-bottom: 5px;
    font-size: smaller;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 20px;
        height: 20px;
        margin-top: -20px;
    }

    .heder a {
        padding: 20px 10px 30px;
        font-size: 14px;
        max-width: 100%;
    }

    .cenovnik h2 {
        font-size: 20px;
    }

    ul.cenovnik {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Lyrics styles */
#song-lyrics {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    font-size: 1.2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #e72bce;
}

#lyrics-text {
    margin: 0;
    line-height: 1.5em;
    font-weight: bold;
}
