body{
    margin: auto;
    /*background-image: url("https://img.freepik.com/premium-photo/sweet-cotton-candy-horizontal-background_107173-36446.jpg?w=2000");*/
   /*background-image: url("https://images.unsplash.com/photo-1633871676530-cec28b5199d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
   /*background-image: url("https://images.unsplash.com/photo-1517683551739-7f3f08efba84?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80");
   background-image: url("https://images.pexels.com/photos/325522/pexels-photo-325522.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
   background-image: url("https://treatsforus.com/cdn/shop/products/CottonCandy_900x.jpg?v=1604443719");*/
   background-image: url("https://tau.fra1.cdn.digitaloceanspaces.com/candyuniverse/2860/conversions/slider-desktop-8027616929a31d0d84dd82c09abf8bfe-desktop-xl-x1-webp.webp");
   background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 150% ;
    background-color: rgba(255, 245, 233, 0.927);
    background-blend-mode: lighten;
    
    
   
}

.logo{
    align-self: center;
    float: right;
    
}

.img-logo{
  width: 120px;
  height: 100px;
  align-self: center;
  float: right;
  
}

#naslov {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    color:#e72bce;
}

#nazivProdavnice {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 145px;
    text-align: center;
    font-size: 80px;
    color:#e72bce;
    
}

.tekst{
    color:#e72bce;
    
    text-align: center;
    align-items: center;
    align-content: center;
    text-transform: uppercase;
    font-size: smaller;
    margin-top: auto;
    margin-left: 100px;

}
.heder{
    overflow: auto;
    /*background-color: #ffccee;*/
    background-color: #ee85e0;

}
.heder a {
    float: left;
    color:#000000;
    text-align: left;
    padding: 35px 14px 50px; /*11 i 14 je bilo bez logoa*/
    text-decoration: none;
    font-size: 17px;
}
.heder a:hover {
    background-color: #ff4dff;
    color: white;
}
.heder a.active {
    background-color: #ff4dff;
    color: white;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #ee85e0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Stilizacija za stavke dropdown menija */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ff4dff;
    color: rgb(255, 255, 255);
}



/*naredna dva pozivanja klasa odnose se na tekst koji se nalazi na iskacucoj stranici potvrda*/
.page-content{
    margin-left: 100px;
    margin-right: 100px;
    font-size: smaller;
    text-align: center;
    margin-top: -50px;
}
.datum{
    margin-right: 0;
    margin-top: 80px;
    text-align: right;
    align-items: right;
    align-content: right;
}



.slideshow-container {
    max-width: 450px;
    position: relative;
    margin: auto;
    margin-bottom: 100px;
    margin-top: -10px;
    
}

.slide {
    display: none;
}


.slideshow-container img {
   
    max-width: 100%;
    height: auto;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-left: 0px;
    margin-top: -100px;
    

}




footer{

    display: none;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffcbff;
    margin: 0;
    padding: 0;
    width: 100%;
   
    
} 

body:not(.home) footer {
    display: inline-block;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    position: relative;
   
}

ul.lista{
    
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 12px;
    font-size: smaller;
    text-align: right;
}
.lokacijaObjekata{
    margin-bottom: 5px;
    font-size: smaller;
    font-weight: 600;
}


/*.lokacija {
    background-image: url('img/lokacija.png'); 
    background-repeat: no-repeat; /* Da se slika ne ponavlja */
   /* background-position: right center; /* Pozicija slike: levo centrirano */
   /* padding-left: 2px; /* Da ostavis prostor između slike i teksta */

   
/*}
/*.drustveneMreze, .tekst, .kontaktInformacije {
    text-align: center;
  }
*/


@media screen and (max-width: 768px) {
    
    .logo {
        width: 20px;
        height: 20px;
        margin-top: -20px;
        
    }

    .heder a {
        padding: 20px 10px 30px;
        font-size: 14px;
        max-width: 100%;
    }

    .cenovnik h2 {
        font-size: 20px;
    }

    ul.cenovnik {
        margin-left: 10px;
        margin-right: 10px;
    }
}


/*540 je sledece gde se menja*/
